#ignore CMakeFiles
CMakeFiles
CMakeFiles/*

#ignore CMakeCache.txt
CMakeCache.txt

#ignore build folder
build
build/*

#ignore doxygen configs
#doxygen_config
doxygen_config/
#
*.root
#doc/*
.vscode/
Makefile
coul/Makefile
coul/cmake_install.cmake
coul/src/Makefile
coul/src/cmake_install.cmake
coul/src/libcoul.a
generated/
src/Makefile
src/cmake_install.cmake

